body {
    margin:0;
    padding:0;
    margin:auto;
    font-family: verdana;
    font-size:12px;
    width:90%;
}
a img {
    border: 0;
}
ul {
    margin:0;
    padding:0;
}
section table {
    border-collapse: collapse;
    width:80%;
    margin-left:10%;
}
td, th {
    padding:7px;
}
header {
    min-height:94px;    
}
header img {
    float:left;
}
section {
    min-height:400px;    
}

.titre {
    font-size:60px;
    letter-spacing:-4px;
    padding:0;
    margin-left:10px;
}
nav {
    font-size:14px;
    border-top:solid 1px black;
    height:30px;
    display: block;
    padding:0;
    margin-top:0px;
}
nav ul {
    margin-top:1px;
    background-color: black;
    height:30px;
    display: block;
    list-style:none;
    padding-top:10px;
    padding-left:20px;    
}
nav ul li {
    float:left;
    height:30px;
    display: block;
    margin-right:10px;

}
nav a {
    color:white;

}
a {
    text-decoration:none;
}
a:hover, input[type="submit"]:hover {
    color:#168dd9;
    transition: color .3s ease 0;
    cursor:pointer;
}
h1 {
    text-align:center;
}

footer {
    margin-top:20px;
    padding-top:20px;
    text-align:center;
    border-top:solid 1px #168dd9;
}

form {
    width:100%;
    border:solid 1px lightgrey;
    text-align:left;
}
form div {

    width:100%;
    padding:5px;
}
form div label {
    width:20%;
    text-align:right;
    padding-right:3%;
    display:inline-block;
}
/*
section .form-group .col-sm-10 {
    width:70%;    
    display:inline-block;
}
*/
input[type="text"] {
    height:30px;
    padding-left:2px;
    width:70%; 
    border:solid 1px #555;
    display:inline-block;
}

.btnListe {
    float:right;
}
.ulCitation {
    list-style: none;
}
.ulCitation li {
    padding-bottom:30px;
    border-bottom:solid 1px lightgrey;
}

.btn, button[type="submit"] {
    margin:0;
    padding-left:20px;
    padding-right:20px;

    height:35px;
    line-height:35px;

    vertical-align: middle;
    background: #555;
    color:white;
    border:none;
    display:inline-block;
    margin:4px;
}


@media screen and (max-width: 500px) {
    /*********************************************
            STYLE A COMPLETER CI-DESSOUS 
    **********************************************/
	
}
